/target/
/.idea/
/.vscode/
/.git/
/.gitattributes
/.gitmodules
/.gitkeep
/.gitlab-ci.yml
/.hg/
/.vim/
cargo.lock
cargo.toml
package-lock.json
package.json
yarn.lock
yarn-error.log
compete.toml
compete.lock
